@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #acaab6
}

.centered-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
